<p id="notice"><%= notice %></p>

<p>
  <strong>Preferred name:</strong>
  <%= @user.preferred_name %>
</p>

<p>
  <strong>Mistaken name:</strong>
  <%= @user.mistaken_name %>
</p>

<p>
  <img src="<%= @user.avatar.url %>"/>
</p>

<div>
  <a href="http://www.doyouknowthemtho.co/<%= @user.mistaken_name %>">
    <h2>
      www.DoYouKnowThemTho.co/<%= @user.mistaken_name.downcase %>
    </h2>
  </a>
</div>


<%= link_to 'Edit', edit_user_path(@user) %>
