<div class="show-well well">
  <p class="flash-notice"><%= notice %></p>

  <p>
    <strong>Preferred name:</strong>
    <%= @user.preferred_name %>
  </p>

  <p>
    <strong>Mistaken name:</strong>
    <%= @user.mistaken_name %>
  </p>

  <div class="show-image-container">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

  <div class="challenge-link">
    <a href="http://www.doyouknowthemtho.co/<%= @url_name %>">
      <h2>
        www.DoYouKnowThemTho.co/<%= @url_name %>
      </h2>
    </a>
  </div>


  <%= link_to 'Edit', edit_user_path(@user) %>

</div>
